@model Register
@{
	Layout = "_AuthLayout";
	ViewData["Title"] = "Register";
}
<section>
	<a href="/" class="secondary">
		← back to home page
	</a>
	<article>
		<h1>Create your account</h1>
		<form asp-action="Register" asp-controller="Auth" method="post">
			@Html.ValidationSummary()
			<div>
				<label asp-for="@Model.Name">
					Name
				</label>
				<input asp-for="@Model.Name" type="text" required />
				<small>@Html.ValidationMessageFor(m => m.Name)</small>
			</div>
			<div>
				<label asp-for="@Model.Email">
					Email address
				</label>
				<input asp-for="@Model.Email" type="email" autocomplete="email" required />
				<small>@Html.ValidationMessageFor(m => m.Email)</small>
			</div>
			<div>
				<label asp-for="@Model.Password">
					Password
				</label>
				<input asp-for="@Model.Password" type="password" autocomplete="current-password" required />
				<small>@Html.ValidationMessageFor(m => m.Password)</small>
			</div>
			<div>
				<label asp-for="@Model.ConfirmPassword">
					Comfirm Password
				</label>
				<input asp-for="@Model.ConfirmPassword" type="password" autocomplete="current-password" required />
				<small>@Html.ValidationMessageFor(m => m.ConfirmPassword)</small>
			</div>
			<div class="grid">
				<button type="submit">
					Create account
				</button>
			</div>
		</form>
		<footer>
			<a href="/login" class="secondary">
				Already registered? Sign in
			</a>
		</footer>
	</article>
</section>
